<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap" rel="stylesheet">
    <title>Boggle!</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>BOGGLE!</h1>
    </div>

    <div class="msg-line">
        <h3 id="messages" class="row">Have Fun!</h3>
    </div>

    <div class="stats-row">
        <h2>Score:</h2>
        <h2><span id="score">{{session["score"]}} </span><span id="high-score">({{session['high_score']}})</span></h2>
        <h2>Times Played:</h2>
        <h2 id="times-played">{{session["times_played"]}}</h2>
        <h2>Timer:</h2>
        <h2 id="timer"></h2>
    </div>

    {% for row in session['board'] %}
    <div class="row" id="y{{loop.index}}">

        {% for column in row %}
        <div class="box" id="x{{loop.index}}">
            <h1>{{column}}</h1>
        </div>
        {% endfor %}

    </div>
    {% endfor %}
    <hr>
    <form action="" class="form">
        <label for="guess">Guess:</label>
        <input type="text" name="guess" id="guess">
        <button type="submit" id="guess-btn">Go!</button>
        <button id="hint-btn">I need a hint!</button>
    </form>


    {% if session['hints'] %}
    <div class="row">
        <ul>
            {% for hint in session['hints']%}
            <li>{{hint}}</li>
            {% endfor %}
        </ul>

    </div>
    {% endif %}

    <div class="msg-line">
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/static/app.js"></script>
</body>
</html>